name: Build Saino COC Ultimate (Nuitka)

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        architecture: 'x64'
        cache: 'pip' # کش کردن پکیج‌های پایتون برای دفعات بعد

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyside6 Pillow img2pdf patool pymupdf nuitka zstandard

    - name: Build with Nuitka
      uses: Nuitka/Nuitka-Action@main
      with:
        nuitka-version: main
        script-name: PCM2.py
        standalone: true
        onefile: true
        enable-plugins: pyside6
        windows-console-mode: disable
        # اصلاح خطا: پکیج‌ها با کاما جدا شدند
        include-package: shutil,zipfile,json,logging,pathlib
        # بهینه‌سازی‌های سنگین Nuitka
        archive: pyz
        jobs: 2
        output-filename: Saino_COC_Ultimate.exe
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Saino-COC-Ultimate-Build
        path: build/Saino_COC_Ultimate.exe
